#foot {
  border-top: 2px solid #f10180;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
}
#foot .footer {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-sizing: border-box;
  border-top: 2px solid #f10180;
  margin-top: -2px;
  padding-top: 24px;
}
#foot .footer .foot_box {
  overflow: hidden;
}
#foot .footer .foot_box ul {
  box-sizing: border-box;
  float: left;
  width: 240px;
}
#foot .footer .foot_box ul li span {
  color: #f10180;
}
#foot .footer .foot_box ul li:first-of-type {
  color: #323232;
  font-size: 14px;
  padding: 0 0 18px 0;
}
#foot .footer .foot_box ul li:not(:first-child) {
  padding-bottom: 10px;
  cursor: pointer;
}
#foot .footer .foot_box ul li.yuntuigou a {
  display: inline-block;
  width: 150px;
  line-height: 24px;
  background: url(../images/yuntuigou.png) right center no-repeat;
}
#foot .footer .foot_box ul:not(:first-child) {
  border-left: 1px dashed #c8c8c8;
}
#foot .footer .foot_box ul:first-of-type {
  padding-left: 90px;
}
#foot .footer .foot_box ul:nth-of-type(2) {
  padding-left: 80px;
}
#foot .footer .foot_box ul:nth-of-type(3) {
  padding-left: 85px;
}
#foot .footer .foot_box ul:nth-of-type(4) {
  padding-left: 90px;
}
#foot .footer .foot_box ul:nth-of-type(5) {
  padding-left: 45px;
}
#foot .footer p {
  color: #646464;
}
#foot .footer p:first-of-type {
  margin: 20px 0 10px 365px;
  text-align: left;
  padding: 5px 0 5px 25px;
}
#foot .footer p:first-of-type > a {
  display: inline-block;
  line-height: 20px;
}
#foot .footer p:first-of-type > a img {
  vertical-align: middle;
}
#foot .footer p:nth-of-type(2) {
  padding-bottom: 20px;
  text-align: center;
}
