.left_nav_active {
  color: #f10180 !important;
  text-decoration: underline;
}
#section .section_content .evaluate_content {
  padding: 0 30px 50px 30px;
}
#section .section_content .evaluate_content h1 {
  margin: 30px 0 10px 0;
  font-size: 16px;
  color: #323232;
}
#section .section_content .evaluate_content .good_information .title {
  overflow: hidden;
  padding: 10px;
}
#section .section_content .evaluate_content .good_information .title p {
  font-size: 14px;
  height: 16px;
}
#section .section_content .evaluate_content .good_information .title p a {
  color: #005ea7;
}
#section .section_content .evaluate_content .good_information .title p:first-of-type {
  background: url(../images/line.png) left no-repeat;
  padding-left: 25px;
}
#section .section_content .evaluate_content .good_information .title p:first-of-type span {
  margin-right: 40px;
}
#section .section_content .evaluate_content .good_information .details ul {
  height: 115px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  padding: 15px 0;
  overflow: hidden;
}
#section .section_content .evaluate_content .good_information .details ul li {
  box-sizing: border-box;
  float: left;
  color: #323232;
  height: 80px;
  width: 300px;
}
#section .section_content .evaluate_content .good_information .details ul li p {
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #969696;
  line-height: 20px;
}
#section .section_content .evaluate_content .good_information .details ul li p span {
  color: #323232;
}
#section .section_content .evaluate_content .good_information .details ul li p span b {
  color: #f10180;
}
#section .section_content .evaluate_content .good_information .details ul li p a {
  color: #005ea7;
}
#section .section_content .evaluate_content .good_information .details ul li:nth-of-type(1) {
  width: 120px;
  padding: 0 20px;
}
#section .section_content .evaluate_content .good_information .details ul li:nth-of-type(2) {
  border-right: 1px solid #f5f5f5;
  padding-left: 30px;
}
#section .section_content .evaluate_content .good_information .details ul li:nth-of-type(3) {
  padding-left: 50px;
}
#section .section_content .evaluate_content .evaluate_notice {
  padding: 30px 0;
  width: 1140px;
  height: 178px;
  border-bottom: 1px solid #f5f5f5;
}
#section .section_content .evaluate_content .evaluate_notice h2 {
  font-size: 14px;
  color: #323232;
}
#section .section_content .evaluate_content .evaluate_notice p {
  padding-top: 5px;
}
#section .section_content .evaluate_content .evaluate_notice p b {
  color: #323232;
  font-weight: bold;
}
#section .section_content .evaluate_content .good_reputation {
  overflow: hidden;
  margin-top: 30px;
}
#section .section_content .evaluate_content .good_reputation p {
  font-size: 14px;
}
#section .section_content .evaluate_content .good_reputation textarea {
  box-sizing: border-box;
  border: 1px solid #969696;
  width: 600px;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 4px;
}
#section .section_content .evaluate_content .good_reputation span {
  display: inline-block;
  color: #e61e28;
  margin-top: 90px;
  margin-left: 10px;
  font-size: 14px;
}
#section .section_content .evaluate_content .good_picture {
  margin-top: 30px;
}
#section .section_content .evaluate_content .good_picture label {
  font-size: 14px;
}
#section .section_content .evaluate_content .good_picture a {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  margin-right: 19.5px;
  border: 1px solid #969696;
  text-align: center;
}
#section .section_content .evaluate_content .good_picture a img {
  margin-top: 23px;
}
#section .section_content .evaluate_content .good_picture a input[type='file'] {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
#section .section_content .evaluate_content .good_picture span {
  color: #e61e28;
  font-size: 14px;
}
#section .section_content .evaluate_content .good_picture p:first-of-type {
  padding-top: 30px;
}
#section .section_content .evaluate_content .good_picture p {
  font-size: 14px;
  padding-top: 15px;
  padding-left: 70px;
}
#section .section_content .evaluate_content p.step_btn {
  padding-left: 70px;
}
.confirm_submit_modal {
  display: none;
}
.confirm_submit_modal .confirm_delivery {
  margin-top: 40px;
}
.confirm_submit_modal .confirm_delivery label {
  font-size: 14px;
}
.confirm_submit_modal .confirm_delivery input {
  width: 200px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #969696;
  border-radius: 5px;
  margin-left: 10px;
}
.confirm_submit_modal .confirm_delivery p {
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding-left: 152px;
}
.confirm_submit_modal .confirm_delivery p span {
  color: #e61e28;
  font-size: 14px;
}
.confirm_submit_modal .modal_submit {
  padding-top: 10px;
}
.confirm_submit_modal .modal_submit input {
  width: 80px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #f10180;
  border-radius: 5px;
}
.confirm_submit_modal .modal_submit input:nth-of-type(2) {
  margin-left: 35px;
}
.confirm_submit_modal .confirm_audit {
  padding: 67px 0;
  font-size: 16px;
}
