#section {
  width: 100%;
  padding-bottom: 50px;
  background-color: #f5f5f5;
}
#section .section_content {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
#section .section_content .location_title {
  padding: 30px;
  border-bottom: 1px solid #f5f5f5;
}
#section .section_content .location_title ul {
  overflow: hidden;
}
#section .section_content .location_title ul li {
  float: left;
  font-size: 14px;
  padding-right: 10px;
}
#section .section_content .step_introduce {
  padding: 50px 30px;
}
#section .section_content .step_introduce .step_picture {
  padding-bottom: 50px;
  border-bottom: 1px solid #f5f5f5;
}
#section .section_content .step_introduce .search_good h1 {
  font-size: 16px;
  padding: 20px 0;
}
#section .section_content .step_introduce .search_good > p {
  color: #323232;
  padding-bottom: 5px;
  font-size: 14px;
}
#section .section_content .step_introduce .search_good > p img {
  cursor: pointer;
}
#section .section_content .step_introduce .search_good > p b {
  font-weight: bold;
}
#section .section_content .step_introduce .search_good > p b a {
  color: #323232;
}
#section .section_content .step_introduce .search_good > p span {
  color: #969696;
  font-size: 12px;
  margin-left: 15px;
  margin-right: 5px;
}
#section .section_content .step_introduce .search_good .good_detail {
  padding: 20px 0 30px 0;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 25px;
}
#section .section_content .step_introduce .search_good .good_detail table {
  width: 1140px;
  box-sizing: border-box;
}
#section .section_content .step_introduce .search_good .good_detail table th,
#section .section_content .step_introduce .search_good .good_detail table td {
  width: 380px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #f5f5f5;
}
#section .section_content .step_introduce .search_good .good_detail table th {
  height: 50px;
  background-color: #f5f5f5;
}
#section .section_content .step_introduce .search_good .good_detail table td {
  height: 292px;
  font-size: 14px;
  color: #323232;
}
#section .section_content .step_introduce .search_good .good_detail table td img {
  width: 252px;
  height: 252px;
}
#section .section_content .step_introduce .search_good .check_url {
  padding-top: 20px;
}
#section .section_content .step_introduce .search_good .check_url p input {
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
}
#section .section_content .step_introduce .search_good .check_url p input[type='text'] {
  width: 267px;
  border: 1px solid #969696;
}
#section .section_content .step_introduce .search_good .check_url p input[type='button'] {
  height: 30px;
  line-height: 30px;
  width: 120px;
  border: 1px solid #969696;
  color: #646464;
  background-color: #f0f0f0;
  margin-left: 10px;
}
#section .section_content .step_introduce .search_good .check_url p.error {
  padding-top: 5px;
}
#section .section_content .step_introduce .search_good .check_url p.error > span {
  color: #e61e28;
  font-size: 12px;
}
#section .section_content .step_introduce .search_good .commodity .content {
  width: 254px;
  border: 1px solid #f5f5f5;
  margin-bottom: 10px;
}
#section .section_content .step_introduce .search_good .commodity .content img {
  width: 252px;
  height: 252px;
}
#section .section_content .step_introduce .search_good .commodity .content .good_introduce {
  padding: 10px;
}
#section .section_content .step_introduce .search_good .commodity .content .good_introduce p {
  padding-bottom: 10px;
}
#section .section_content .step_introduce .search_good .commodity .content .good_introduce p span {
  color: #323232;
}
#section .section_content .step_introduce .search_good .commodity .content .good_introduce p.good_name span {
  display: inline-block;
  width: 232px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#section .section_content .step_introduce .search_good .commodity p b {
  color: #323232;
}
#section .section_content .step_introduce .search_good .commodity > h2 {
  font-size: 14px;
  color: #323232;
  padding: 30px 0 10px 0;
}
#section .section_content .step_introduce .search_good .commodity > p {
  padding-bottom: 5px;
}
#section .section_content .step_introduce .search_good .commodity > p span {
  color: #e61e28;
}
#section .section_content .step_introduce .search_good .commodity > p b {
  font-weight: bold;
}
#section .section_content .step_introduce .step_btn input {
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 40px;
  border: 1px solid #f10180;
  padding-left: 0;
}
#section .section_content .step_introduce .step_btn input.last_step {
  background-color: #fff;
  color: #f10180;
}
#section .section_content .step_introduce .step_btn input.next_step {
  background-color: #f10180;
  color: #fff;
  margin-top: 40px;
  margin-left: 25px;
}
.pass_modal {
  display: none;
}
.pass_modal .confirm_audit {
  font-size: 16px;
}
.pass_modal .modal_submit {
  padding-top: 9px;
}
.pass_modal .modal_submit input {
  width: 80px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #f10180;
  border-radius: 5px;
  padding-left: 0;
}
.pass_modal .modal_submit input:nth-of-type(2) {
  margin-left: 35px;
}
