.line {
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(#f1f1f1, #fff);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#f1f1f1, #fff);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#f1f1f1, #fff);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#f1f1f1, #fff);
  /* 标准的语法（必须放在最后） */
}
#section {
  width: 1200px;
  margin: 60px auto 50px  auto;
  overflow: hidden;
}
#section .change_password {
  width: 635px;
  padding: 0 100px 0 135px;
  border-right: 1px solid #c8c8c8;
}
#section .change_password .phone,
#section .change_password .new_password,
#section .change_password .affirm_password,
#section .change_password .auth_code {
  width: 400px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #c8c8c8;
}
#section .change_password .phone span,
#section .change_password .new_password span,
#section .change_password .affirm_password span,
#section .change_password .auth_code span {
  letter-spacing: 3px;
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
}
#section .change_password .phone input,
#section .change_password .new_password input,
#section .change_password .affirm_password input,
#section .change_password .auth_code input {
  font-size: 12px;
  width: 280px;
}
#section .change_password .auth_code input {
  width: 175px;
}
#section .change_password .auth_code span.gain {
  width: 108px;
  padding: 0;
  text-align: center;
  background-color: #f0f0f0;
  color: #646464;
  height: 42px;
  line-height: 43px;
  cursor: pointer;
}
#section .change_password .registration_protocol {
  padding-bottom: 30px;
  color: #969696;
}
#section .change_password .registration_protocol a {
  color: #2e87fd;
}
#section .change_password .registration_protocol input {
  color: #f10180;
  margin-right: 10px;
}
#section .change_password .register_now {
  text-align: center;
}
#section .change_password .register_now input {
  width: 400px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  background-color: #f10180;
}
#section .change_password .error {
  height: 30px;
  line-height: 30px;
}
#section .change_password .error span {
  color: #e61e28;
  size: 14px;
}
#section .account_related {
  width: 565px;
  padding: 42px 0 0 100px;
}
#section .account_related .has_account h1,
#section .account_related .no_account h1 {
  color: #323232;
  font-size: 16px;
  padding-bottom: 18px;
}
#section .account_related .has_account input,
#section .account_related .no_account input {
  width: 330px;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  border: 1px solid #f10180;
  border-radius: 5px;
  font-size: 16px;
  color: #f10180;
}
#section .account_related .has_account input {
  margin-bottom: 70px;
}
#section .account_related .no_account input:first-of-type {
  margin-bottom: 30px;
}
