#section {
  width: 100%;
  background-color: #fff;
}
#section .section {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}
#section .section .affiche_title ul {
  overflow: hidden;
  padding-top: 18px;
}
#section .section .affiche_title ul li {
  float: left;
}
#section .section .affiche_title ul li:not(:first-child) {
  padding-left: 10px;
}
#section .section .affiche_details {
  margin-top: 30px;
  border: 1px solid #f0f0f0;
}
#section .section .affiche_details > h1 {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 18px 0;
  border-bottom: 1px solid #f0f0f0;
  color: #323232;
  font-size: 24px;
}
#section .section .affiche_details .content {
  padding: 30px 0 50px 0;
  width: 1000px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
}
#section .section .affiche_details .content h1 {
  color: #f10180;
  font-size: 16px;
  padding: 20px 0 5px 0;
}
