#section .section_main .basic_setup .setup_content ul {
  overflow: hidden;
  padding: 20px;
  height: 90px;
  border-bottom: 1px solid #f5f5f5;
}
#section .section_main .basic_setup .setup_content ul li {
  box-sizing: border-box;
  float: left;
  line-height: 50px;
  height: 50px;
}
#section .section_main .basic_setup .setup_content ul li:nth-of-type(1) {
  width: 43px;
}
#section .section_main .basic_setup .setup_content ul li:nth-of-type(2) {
  padding: 0 25px;
  border-right: 1px solid #f5f5f5;
  width: 115px;
}
#section .section_main .basic_setup .setup_content ul li:nth-of-type(2) span {
  color: #323232;
  font-size: 16px;
  font-weight: bold;
}
#section .section_main .basic_setup .setup_content ul li:nth-of-type(3) {
  padding-left: 25px;
  width: 647px;
}
#section .section_main .basic_setup .setup_content ul li:nth-of-type(4) {
  width: 135px;
  text-align: center;
}
#section .section_main .basic_setup .setup_content ul li:nth-of-type(4) a {
  color: #005ea7;
}
#section .section_main .basic_setup .setup_content ul li:nth-of-type(4) input {
  height: 28px;
  width: 80px;
  line-height: 28px;
  border-radius: 5px;
  background-color: #f10180;
  color: #fff;
}
#section .section_main .basic_setup .setup_content ul:last-of-type li:nth-of-type(3),
#section .section_main .basic_setup .setup_content ul:last-of-type li:nth-of-type(4) {
  line-height: 25px;
}
