#section .section_main .store_content {
  padding-bottom: 20px;
}
#section .section_main .store_content .progress_bar {
  padding: 50px 0;
  border-bottom: 1px solid #f5f5f5;
}
#section .section_main .store_content .fill_information h2.title {
  font-size: 16px;
  padding: 18px 0;
}
#section .section_main .store_content .fill_information .shop_information .commodity_information label {
  display: inline-block;
  width: 115px;
  text-align: right;
  font-size: 14px;
}
#section .section_main .store_content .fill_information .shop_information .commodity_information input,
#section .section_main .store_content .fill_information .shop_information .commodity_information select {
  width: 600px;
  height: 28px;
  line-height: 28px;
  margin: 15px 0 0 5px;
  border: 1px solid #969696;
  border-radius: 5px;
}
#section .section_main .store_content .fill_information .shop_information .commodity_information span {
  color: #e61e28;
  margin-left: 5px;
}
#section .section_main .store_content .fill_information .shop_information .commodity_information select {
  width: 100px;
  color: #646464;
}
#section .section_main .store_content .fill_information .shop_information .commodity_information input.norms {
  width: 100px;
}
#section .section_main .store_content .fill_information .shop_information .commodity_information p {
  padding-left: 120px;
  color: #969696;
  margin: 4px 0;
}
#section .section_main .store_content .fill_information .shop_information .commodity_information p a {
  display: inline-block;
  border-bottom: 1px solid #969696;
}
#section .section_main .store_content .fill_information .shop_information .commodity_information p.total_money {
  padding-left: 350px;
}
#section .section_main .store_content .fill_information .shop_information .commodity_information p.total_money span {
  color: #e61e28;
}
#section .section_main .store_content .fill_information .shop_information .commodity_information span.pinkage {
  display: inline-block;
  padding-left: 20px;
  font-size: 14px;
  background: url(../images/sj_fbsy_icon_quan_default.png) left center no-repeat;
  color: #646464;
}
#section .section_main .store_content .fill_information .shop_information .commodity_information span.freight {
  margin-left: 57px;
}
#section .section_main .store_content .fill_information .nextStep_btn input {
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  color: #f10180;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #f10180;
  margin: 50px 30px 30px 0;
}
#section .section_main .store_content .fill_information .nextStep_btn input:hover {
  background-color: #f10180;
  color: #fff;
}
#section .section_main .store_content .fill_information .nextStep_btn input:first-of-type {
  margin-left: 100px;
}
#section .section_main .store_content .fill_information .note {
  padding: 15px 0 0 43px;
  line-height: 24px;
}
#section .section_main .store_content .fill_information .note b {
  font-size: 14px;
  color: #323232;
}
