#section .section_main .store_content {
  padding-bottom: 20px;
}
#section .section_main .store_content .progress_bar {
  padding: 50px 0;
  border-bottom: 1px solid #f5f5f5;
}
#section .section_main .store_content .have_bindingShops h2.title,
#section .section_main .store_content .no_bindingShops h2.title {
  font-size: 16px;
  padding: 18px 0;
}
#section .section_main .store_content .have_bindingShops .shop_information,
#section .section_main .store_content .no_bindingShops .shop_information {
  overflow: hidden;
}
#section .section_main .store_content .have_bindingShops .shop_information .shop,
#section .section_main .store_content .no_bindingShops .shop_information .shop {
  cursor: pointer;
  width: 150px;
  height: 157px;
  border: 1px solid #f5f5f5;
  text-align: center;
  padding: 15px 0;
  margin-right: 50px;
}
#section .section_main .store_content .have_bindingShops .shop_information .shop .logo,
#section .section_main .store_content .no_bindingShops .shop_information .shop .logo {
  width: 70px;
  height: 70px;
}
#section .section_main .store_content .have_bindingShops .shop_information .shop .shop_name,
#section .section_main .store_content .no_bindingShops .shop_information .shop .shop_name {
  color: #323232;
  font-size: 14px;
  padding: 10px 0;
}
#section .section_main .store_content .have_bindingShops .nextStep_btn input,
#section .section_main .store_content .no_bindingShops .nextStep_btn input {
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-top: 30px;
}
#section .section_main .store_content .have_bindingShops .nextStep_btn input.one,
#section .section_main .store_content .no_bindingShops .nextStep_btn input.one {
  background-color: #c8c8c8;
}
#section .section_main .store_content .have_bindingShops .nextStep_btn input.two,
#section .section_main .store_content .no_bindingShops .nextStep_btn input.two {
  display: none;
  background-color: #f10180;
}
#section .section_main .store_content .have_bindingShops .nextStep_btn input.binding,
#section .section_main .store_content .no_bindingShops .nextStep_btn input.binding {
  color: #fff;
  background-color: #f10180;
}
#section .section_main .store_content .have_bindingShops .note,
#section .section_main .store_content .no_bindingShops .note {
  padding-top: 15px;
}
#section .section_main .store_content .have_bindingShops .note b,
#section .section_main .store_content .no_bindingShops .note b {
  font-size: 14px;
  color: #323232;
}
#section .section_main .store_content .have_bindingShops .no_binding,
#section .section_main .store_content .no_bindingShops .no_binding {
  padding: 45px 0;
  font-size: 14px;
}
