.left_nav {
  width: 150px;
  background-color: #fff;
  padding-left: 40px;
}
.left_nav .title:first-of-type {
  padding-top: 27.5px;
}
.left_nav .title:last-of-type {
  padding-bottom: 27px;
}
.left_nav .title {
  padding-top: 23px;
}
.left_nav .title > a {
  color: #323232;
  font-size: 16px;
}
.left_nav .title > a:hover {
  color: #f10180;
  text-decoration: underline ;
}
.left_nav .title ul li {
  padding-top: 11px;
}
.left_nav .title ul li a {
  font-size: 14px;
}
.left_nav .title ul li a:hover {
  color: #f10180;
}
.left_nav .try_manage > a,
.left_nav .account_information > a,
.left_nav .fund_manage > a {
  cursor: default;
}
.left_nav .try_manage > a:hover,
.left_nav .account_information > a:hover,
.left_nav .fund_manage > a:hover {
  color: #323232;
  text-decoration: none;
}
