.search_active {
  background: url(../images/spot.png) left center no-repeat !important;
}
#section .section_main .store_content {
  padding-bottom: 20px;
}
#section .section_main .store_content .progress_bar {
  padding: 50px 0;
  border-bottom: 1px solid #f5f5f5;
}
#section .section_main .store_content .settings_search p {
  font-size: 14px;
  color: #969696;
  padding-bottom: 18px;
}
#section .section_main .store_content .settings_search p a {
  display: inline-block;
  cursor: text;
  font-weight: bold;
  color: #646464;
}
#section .section_main .store_content .settings_search h2.title {
  font-size: 16px;
  padding: 18px 0;
}
#section .section_main .store_content .settings_search .search_content {
  padding-left: 20px;
}
#section .section_main .store_content .settings_search .search_content .by_taobao,
#section .section_main .store_content .settings_search .search_content .by_tmall {
  cursor: pointer;
  padding-left: 21px;
  font-size: 16px;
  color: #f10180;
  padding-bottom: 2px;
  background: url(../images/sj_fbsy_icon_quan_default.png) left center no-repeat;
}
#section .section_main .store_content .settings_search .search_content .taobao_content h3,
#section .section_main .store_content .settings_search .search_content .tmall_content h3 {
  color: #323232;
  font-size: 16px;
  padding: 10px 0;
}
#section .section_main .store_content .settings_search .search_content .taobao_content h4,
#section .section_main .store_content .settings_search .search_content .tmall_content h4 {
  color: #323232;
  font-size: 14px;
}
#section .section_main .store_content .settings_search .search_content .taobao_content p.such_as,
#section .section_main .store_content .settings_search .search_content .tmall_content p.such_as {
  padding-left: 246px;
}
#section .section_main .store_content .settings_search .search_content .taobao_content p.search_commodity,
#section .section_main .store_content .settings_search .search_content .tmall_content p.search_commodity {
  padding-bottom: 0;
}
#section .section_main .store_content .settings_search .search_content .taobao_content p,
#section .section_main .store_content .settings_search .search_content .tmall_content p {
  font-size: 12px;
  color: #969696;
  padding-bottom: 20px;
}
#section .section_main .store_content .settings_search .search_content .taobao_content p a,
#section .section_main .store_content .settings_search .search_content .tmall_content p a {
  display: inline-block;
  cursor: text;
  font-weight: bold;
  color: #646464;
}
#section .section_main .store_content .settings_search .search_content .taobao_content p input,
#section .section_main .store_content .settings_search .search_content .tmall_content p input {
  border: 1px solid #969696;
  border-radius: 5px;
  width: 100px;
  height: 28px;
  margin: 0 5px;
}
#section .section_main .store_content .settings_search .search_content .taobao_content p input.picture_url,
#section .section_main .store_content .settings_search .search_content .tmall_content p input.picture_url {
  width: 300px;
}
#section .section_main .store_content .settings_search .search_content .taobao_content p span,
#section .section_main .store_content .settings_search .search_content .tmall_content p span {
  color: #e61e28;
  display: inline-block;
  margin-left: 5px;
}
#section .section_main .store_content .settings_search .search_content .taobao_content div.serve p,
#section .section_main .store_content .settings_search .search_content .tmall_content div.serve p {
  font-size: 14px;
  color: #323232;
}
#section .section_main .store_content .settings_search .search_content .taobao_content div.serve p > span,
#section .section_main .store_content .settings_search .search_content .tmall_content div.serve p > span {
  display: inline-block;
  padding-left: 21px;
  background: url(../images/sj_fbsy_icon_quan_default.png) left center no-repeat;
  color: #646464;
  margin-left: 20px;
  cursor: pointer;
}
#section .section_main .store_content .settings_search .search_content .taobao_content div.serve p span:first-of-type,
#section .section_main .store_content .settings_search .search_content .tmall_content div.serve p span:first-of-type {
  margin-left: 8px;
}
#section .section_main .store_content .settings_search .search_content .taobao_content div.serve p select,
#section .section_main .store_content .settings_search .search_content .tmall_content div.serve p select {
  width: 120px;
  height: 28px;
  border: 1px solid #969696;
  border-radius: 5px;
  color: #969696;
}
#section .section_main .store_content .settings_search .search_content .taobao_content div.serve p:nth-of-type(2),
#section .section_main .store_content .settings_search .search_content .tmall_content div.serve p:nth-of-type(2) {
  padding-left: 87px;
}
#section .section_main .store_content .settings_search .search_content .taobao_content p.last,
#section .section_main .store_content .settings_search .search_content .tmall_content p.last {
  color: #646464;
}
#section .section_main .store_content .settings_search .search_content .taobao_content p.last > input:nth-of-type(2),
#section .section_main .store_content .settings_search .search_content .tmall_content p.last > input:nth-of-type(2) {
  margin-right: 30px;
}
#section .section_main .store_content .settings_search .search_content .tmall_content {
  display: none;
}
#section .section_main .store_content .settings_search .search_content .taobao_content {
  display: block;
}
#section .section_main .store_content .settings_search .nextStep_btn input {
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #f10180;
  margin: 50px 30px 30px 0;
  background-color: #f10180;
  color: #fff;
}
#section .section_main .store_content .settings_search .nextStep_btn input:first-of-type {
  background-color: #fff;
  margin-left: 100px;
  color: #f10180;
}
