/*通用样式*/
body{
    font:12px "Microsoft YaHei";
    margin:0;
    padding:0;
    color:#646464;
    background-color:#fff;
}
div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, p,form,
fieldset, input, blockquote,
table, caption, tbody, tfoot, thead, tr, th, td {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

h1, h2, h3, h4, h5, h6, strong, th{
    font-size: 1.0em;
    font-weight: normal;
    font-style: normal;
}
article, aside, details, figcaption, figure,footer, header, menu, nav, section {
    display: block;
}
/*取消聚焦边框*/
input,button,select,textarea {
    outline:none;
    border:none;
}
textarea{
    padding-left:10px;
}
input[type='button']{
    cursor:pointer;
    text-align:center;
    padding-left:0px;
}
input{
    padding-left:10px;
    /*padding-right:10px;*/
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img{
    border:none;
    vertical-align: middle;
}
ul {
    list-style: none;
}
q:before, q:after {
    content: '';
}
a {
    color:#646464;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
b{
    font-weight:normal;
}
/*浮动相关*/
.left   {float:left;}
.right  {float:right;}
.clear  {clear:both;}