#section {
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 50px;
}
#section .section_content {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
}
#section .section_content h1 {
  color: #323232;
  font-size: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f5f5f5;
}
#section .section_content .agreement_content {
  padding-top: 10px;
  padding-right: 30px;
}
#section .section_content .agreement_content h2 {
  padding: 20px 0 10px 0;
  font-size: 16px;
  color: #323232;
}
#section .section_content .agreement_content p {
  font-size: 14px;
  padding-left: 32px;
  line-height: 28px;
}
