#section .section_content .step_introduce {
  padding: 50px 30px;
}
#section .section_content .step_introduce .step_picture {
  padding-bottom: 50px;
  border-bottom: 1px solid #f5f5f5;
}
#section .section_content .step_introduce .try_good h1 {
  font-size: 16px;
  padding: 20px 0 18px 0;
}
#section .section_content .step_introduce .try_good .first_step,
#section .section_content .step_introduce .try_good .second_step {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 30px;
}
#section .section_content .step_introduce .try_good .first_step h2,
#section .section_content .step_introduce .try_good .second_step h2 {
  padding-bottom: 20px;
  font-size: 14px;
  color: #323232;
}
#section .section_content .step_introduce .try_good .first_step table,
#section .section_content .step_introduce .try_good .second_step table {
  table-layout: fixed;
  width: 1140px;
}
#section .section_content .step_introduce .try_good .first_step table tr th,
#section .section_content .step_introduce .try_good .second_step table tr th,
#section .section_content .step_introduce .try_good .first_step table tr td,
#section .section_content .step_introduce .try_good .second_step table tr td {
  border: 1px solid #f5f5f5;
  height: 50px;
  line-height: 50px;
  width: 200px;
  font-size: 14px;
  text-align: center;
}
#section .section_content .step_introduce .try_good .first_step table tr th,
#section .section_content .step_introduce .try_good .second_step table tr th {
  background-color: #f5f5f5;
}
#section .section_content .step_introduce .try_good .first_step table tr th:nth-of-type(2),
#section .section_content .step_introduce .try_good .second_step table tr th:nth-of-type(2),
#section .section_content .step_introduce .try_good .first_step table tr td:nth-of-type(2),
#section .section_content .step_introduce .try_good .second_step table tr td:nth-of-type(2) {
  width: 340px;
  padding: 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#section .section_content .step_introduce .try_good .first_step p.oneWarning,
#section .section_content .step_introduce .try_good .second_step p.oneWarning {
  color: #323232;
  padding-top: 20px;
  font-size: 14px;
}
#section .section_content .step_introduce .try_good .first_step p,
#section .section_content .step_introduce .try_good .second_step p {
  font-size: 12px;
  padding-top: 8px;
}
#section .section_content .step_introduce .try_good .first_step p b,
#section .section_content .step_introduce .try_good .second_step p b {
  color: #323232;
}
#section .section_content .step_introduce .try_good .first_step .example_images,
#section .section_content .step_introduce .try_good .second_step .example_images {
  display: none;
  width: 562px;
  height: 312px;
  padding: 0 30px 30px 30px;
  border: 1px solid #f5f5f5;
  margin-top: 20px;
}
#section .section_content .step_introduce .try_good .first_step .example_images p.title,
#section .section_content .step_introduce .try_good .second_step .example_images p.title {
  height: 30px;
  line-height: 30px;
}
#section .section_content .step_introduce .try_good .first_step .example_images .images p img,
#section .section_content .step_introduce .try_good .second_step .example_images .images p img {
  width: 500px;
  height: 250px;
}
#section .section_content .step_introduce .try_good .first_step .uploading,
#section .section_content .step_introduce .try_good .second_step .uploading {
  padding: 20px 0 10px 0;
  font-size: 14px;
}
#section .section_content .step_introduce .try_good .first_step .uploading a,
#section .section_content .step_introduce .try_good .second_step .uploading a {
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  background-color: #f10180;
  text-align: center;
  color: #fff;
  position: relative;
  cursor: pointer;
  margin: 0 10px;
}
#section .section_content .step_introduce .try_good .first_step .uploading a input,
#section .section_content .step_introduce .try_good .second_step .uploading a input {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
#section .section_content .step_introduce .try_good .first_step .uploading span,
#section .section_content .step_introduce .try_good .second_step .uploading span {
  font-size: 12px;
  color: #969696;
}
#section .section_content .step_introduce .try_good .first_step p.picture_format,
#section .section_content .step_introduce .try_good .second_step p.picture_format {
  padding-bottom: 50px;
}
#section .section_content .step_introduce .try_good .first_step p.picture_format span,
#section .section_content .step_introduce .try_good .second_step p.picture_format span {
  font-size: 12px;
  color: #969696;
}
#section .section_content .step_introduce .try_good .first_step form,
#section .section_content .step_introduce .try_good .second_step form {
  padding: 10px 0;
}
#section .section_content .step_introduce .try_good .first_step form label,
#section .section_content .step_introduce .try_good .second_step form label {
  font-size: 14px;
}
#section .section_content .step_introduce .try_good .first_step form input,
#section .section_content .step_introduce .try_good .second_step form input {
  width: 200px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #969696;
  border-radius: 5px;
  margin-top: 20px;
}
#section .section_content .step_introduce .try_good .first_step form span,
#section .section_content .step_introduce .try_good .second_step form span {
  color: #e61e28;
  margin-left: 5px;
}
#section .section_content .step_introduce .try_good .first_step ul li,
#section .section_content .step_introduce .try_good .second_step ul li {
  line-height: 18px;
  padding-top: 5px;
}
#section .section_content .step_introduce .try_good .second_step {
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 30px;
}
#section .section_content .step_introduce .try_good .second_step p.look {
  font-size: 14px;
  padding-top: 0;
}
#section .section_content .step_introduce .try_good .second_step p.look a {
  color: #005ea7;
  margin-left: 10px;
}
.confirm_pay_modal {
  display: none;
}
.confirm_pay_modal .confirm_delivery {
  margin-top: 40px;
}
.confirm_pay_modal .confirm_delivery label {
  font-size: 14px;
}
.confirm_pay_modal .confirm_delivery input {
  width: 200px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #969696;
  border-radius: 5px;
  margin-left: 10px;
}
.confirm_pay_modal .confirm_delivery p {
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding-left: 152px;
}
.confirm_pay_modal .confirm_delivery p span {
  color: #e61e28;
  font-size: 14px;
}
.confirm_pay_modal .modal_submit {
  padding-top: 10px;
}
.confirm_pay_modal .modal_submit input {
  width: 80px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #f10180;
  border-radius: 5px;
}
.confirm_pay_modal .modal_submit input:nth-of-type(2) {
  margin-left: 35px;
}
.confirm_pay_modal .confirm_audit {
  padding: 67px 0;
  font-size: 16px;
}
