.merchant_active {
  color: #f10180;
}
.header .top {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dcdcdc;
}
.header .top .top_main {
  width: 1200px;
  margin: 0 auto;
}
.header .top .top_main ul {
  float: right;
}
.header .top .top_main ul li {
  float: left;
  padding-left: 30px;
}
.header .search {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  padding-top: 9px;
}
.header .search .logo {
  cursor: pointer;
}
.header .search .details_title {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  color: #646464;
  font-size: 16px;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #c8c8c8;
  letter-spacing: 5px;
}
.header .line {
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(#eaeaea, #f5f5f5);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#eaeaea, #f5f5f5);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#eaeaea, #f5f5f5);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#eaeaea, #f5f5f5);
  /* 标准的语法（必须放在最后） */
}
