.personal_active {
  color: #f10180 !important;
}
.left_nav_active {
  color: #f10180 !important;
  text-decoration: underline;
}
#section .section_main .content_main .application_record {
  background-color: #fff;
}
#section .section_main .content_main .application_record .order_status {
  margin: 30px 0 20px 0;
}
#section .section_main .content_main .application_record .order_status ul {
  overflow: hidden;
  height: 38px;
  background-color: #f5f5f5;
  width: 100%;
}
#section .section_main .content_main .application_record .order_status ul li {
  float: left;
  font-size: 14px;
  padding-left: 18px;
  line-height: 38px;
}
#section .section_main .content_main .application_record .order_status ul li > a span {
  color: #f10180;
}
#section .section_main .content_main .application_record .order_status ul li > a:hover {
  color: #f10180;
}
#section .section_main .content_main .application_record .order_status ul li > b {
  font-weight: normal;
  color: #969696;
  margin-left: 16px;
}
#section .section_main .content_main .application_record .delivery_status {
  margin-bottom: 35px;
}
#section .section_main .content_main .application_record .delivery_status .title {
  overflow: hidden;
  padding: 10px;
}
#section .section_main .content_main .application_record .delivery_status .title p {
  font-size: 14px;
  height: 16px;
}
#section .section_main .content_main .application_record .delivery_status .title p a {
  color: #005ea7;
}
#section .section_main .content_main .application_record .delivery_status .title p:first-of-type {
  background: url(../images/line.png) left no-repeat;
  padding-left: 25px;
}
#section .section_main .content_main .application_record .delivery_status .title p:first-of-type span {
  margin-right: 40px;
}
#section .section_main .content_main .application_record .delivery_status .detalis ul {
  height: 128px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  padding: 18px;
  overflow: hidden;
}
#section .section_main .content_main .application_record .delivery_status .detalis ul li {
  float: left;
  color: #323232;
  font-size: 12px;
  height: 90px;
}
#section .section_main .content_main .application_record .delivery_status .detalis ul li:first-of-type img {
  width: 80px;
  height: 80px;
}
#section .section_main .content_main .application_record .delivery_status .detalis ul li:nth-of-type(2) {
  padding: 0 65px 0 28px;
  border-right: 1px solid #f5f5f5;
  color: #969696;
}
#section .section_main .content_main .application_record .delivery_status .detalis ul li:nth-of-type(2) p {
  width: 280px;
  margin-top: -4px;
  padding-bottom: 11.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#section .section_main .content_main .application_record .delivery_status .detalis ul li:nth-of-type(2) p span {
  color: #323232;
}
#section .section_main .content_main .application_record .delivery_status .detalis ul li:nth-of-type(2) p b {
  color: #e61e28;
}
#section .section_main .content_main .application_record .delivery_status .detalis ul li:nth-of-type(3) {
  border-right: 1px solid #f5f5f5;
  text-align: center;
  width: 245px;
}
#section .section_main .content_main .application_record .delivery_status .detalis ul li:nth-of-type(3) p {
  height: 80px;
  line-height: 80px;
}
#section .section_main .content_main .application_record .delivery_status .detalis ul li:nth-of-type(4) {
  text-align: center;
  width: 245px;
}
#section .section_main .content_main .application_record .delivery_status .detalis ul li:nth-of-type(4) .status {
  padding: 15px 0 10px 0;
}
#section .section_main .content_main .application_record .delivery_status .detalis ul li:nth-of-type(4) > p input {
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #f10180;
  background-color: #fff;
  color: #f10180;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 3px;
}
#section .section_main .content_main .application_record .delivery_status .detalis ul li:nth-of-type(4) > p span {
  color: #969696;
  font-size: 12px;
}
#section .section_main .content_main .application_record .delivery_status .detalis ul li:nth-of-type(4) > p a {
  color: #005ea7;
}
#section .section_main .content_main .application_record .delivery_status .detalis ul li:nth-of-type(4) p.try_finish {
  padding-top: 30px;
}
#section .section_main .content_main .application_record .delivery_status .detalis ul li:nth-of-type(4) p.place_order {
  padding: 8px 0 5px 0;
}
