.left_nav_active {
  color: #f10180!important;
  text-decoration: underline;
}
#section {
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 50px;
}
#section .section_main {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
#section .section_main .content,
#section .section_main .content_main,
#section .section_main .basic_setup,
#section .section_main .bound_bankCard,
#section .section_main .add_bankCard,
#section .section_main .member_manage,
#section .section_main .deposit_withdraw,
#section .section_main .funds_record,
#section .section_main .message_notification {
  width: 1040px;
  margin-left: 10px;
  min-height: 482px;
}
#section .section_main .content_main,
#section .section_main .basic_setup,
#section .section_main .bound_bankCard,
#section .section_main .add_bankCard,
#section .section_main .member_manage,
#section .section_main .deposit_withdraw,
#section .section_main .funds_record,
#section .section_main .message_notification {
  padding: 30px;
  background-color: #fff;
}
#section .section_main .content_main h1.title,
#section .section_main .basic_setup h1.title,
#section .section_main .bound_bankCard h1.title,
#section .section_main .add_bankCard h1.title,
#section .section_main .member_manage h1.title,
#section .section_main .deposit_withdraw h1.title,
#section .section_main .funds_record h1.title,
#section .section_main .message_notification h1.title {
  color: #323232;
  font-size: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f5f5f5;
}
