@font_color:#646464;
@deepfont_color:#323232;
@bg_color:#f5f5f5;
@red_color:#ffb7bb;
@deepred_color:#f10180;
@span_color:#e61e28;
@a_color:#005ea7;
#section{
  .section_main{
    .basic_setup{
      //修改登录密码
      .revamp_content{
        padding:50px 0 30px 0;
        label{
          display:inline-block;
          width:420px;
          text-align:right;
          font-size:14px;
          color:#969696;
        }
        input{
          width:200px;
          height:28px;
          line-height:28px;
          border:1px solid #969696;
          border-radius:5px;
        }
        input#authCode{
          width:110px;
        }
        input[type='button']{
          width:80px;
          margin-left:6px;
          color:#646464;
      }
        p{
          height:30px;
          padding-top: 3px;
          span{
            font-size:12px;
            color:@span_color;
            padding-left:420px;
          }
        }
        p.btn{
          padding-left:417px;
          padding-top:20px;
          input{
            width:80px;
            margin-right:32px;
            color:@deepred_color;
            border:1px solid @deepred_color;
            background-color:#fff;
            //&:hover{
            //  color:#fff;
            //  background-color:@deepred_color;
            //}
          }
          input:first-of-type{
            background-color:@deepred_color;
            color:#fff;
          }
        }

        //设置提现密码
        >table{
          td:not(:first-child){
            width: 30px;
            height: 30px;
            border: 1px solid #c8c8c8;
            input{
              width: 30px;
              height: 30px;
              border:none;
              padding-left:12px;
              &:focus{
                border:2px solid #a6cef1;
                border-radius:0;
                padding-left:12px;
              }
            }
          }
        }
      }
      //修改登录密码成功
      .revamp_succeed{
        padding-top:50px;
        p{
          text-align:center;
        }
        p:nth-of-type(2){
          color:#7abd54;
          font-size:16px;
          padding:18px;
        }
        p:nth-of-type(3){
          color:#969696;
          font-size:14px;
          a{
            color:@a_color;
          }
        }
      }
    }

  }
}